 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/photo_2023-08-15_13-29-47.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 545px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 180px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 785px;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 4px auto 77px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 44.09%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -429px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -268px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -209px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 460px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 22px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 420px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/profile.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  margin: 113px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  margin: 39px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
}

.u-section-2 .u-layout-cell-1,
.u-section-2 .u-layout-cell-1:before,
.u-section-2 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 767px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 31px 0 60px;
}

.u-section-3 .u-image-1 {
  min-height: 278px;
  background-image: url("images/stack1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 273px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 278px;
  background-image: url("images/minitalk1.png");
  background-position: 45.84% 50%;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 278px;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 17px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 273px;
}

.u-section-3 .u-container-layout-5 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-3 {
  min-height: 278px;
  background-image: url("images/printf.png");
  background-position: 45.67% 50%;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 278px;
}

.u-section-3 .u-container-layout-7 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-4 {
  min-height: 273px;
  background-image: url("images/301416025-01.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-3 .u-image-2 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 225px;
  }

  .u-section-3 .u-image-3 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 229px;
  }

  .u-section-3 .u-image-4 {
    min-height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1609px;
  }

  .u-section-3 .u-image-1 {
    min-height: 351px;
    order: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
    order: 1;
  }

  .u-section-3 .u-image-2 {
    min-height: 351px;
    order: 3;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
    order: 2;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
    order: 1;
  }

  .u-section-3 .u-image-3 {
    min-height: 351px;
    order: 0;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
    order: 2;
  }

  .u-section-3 .u-image-4 {
    min-height: 345px;
    order: 3;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2510px;
  }

  .u-section-3 .u-image-1 {
    min-height: 527px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 527px;
    order: 2;
  }

  .u-section-3 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 527px;
  }

  .u-section-3 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 518px;
    order: 2;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1733px;
  }

  .u-section-3 .u-image-1 {
    min-height: 332px;
  }

  .u-section-3 .u-image-2 {
    min-height: 332px;
  }

  .u-section-3 .u-image-3 {
    min-height: 332px;
  }

  .u-section-3 .u-image-4 {
    min-height: 326px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 548px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 52px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 52px 0 60px;
}

.u-section-4 .u-image-1 {
  min-height: 310px;
  background-image: linear-gradient(0deg, rgba(192,192,192,0.25), rgba(192,192,192,0.25)), url("images/image.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 310px;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 2px 0px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 310px;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 310px;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("images/image3.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-4 .u-image-2 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-4 .u-image-1 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 392px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1514px;
  }

  .u-section-4 .u-image-1 {
    min-height: 588px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 588px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1078px;
  }

  .u-section-4 .u-image-1 {
    min-height: 370px;
  }

  .u-section-4 .u-image-2 {
    min-height: 370px;
  }
}